# ─────────────────────────────────────────
#  ENTORNOS VIRTUALES / VARIABLES
# ─────────────────────────────────────────
venv/
.env
.env.*
*.env
*.env.example

# ─────────────────────────────────────────
#  CHROMADB (Evitar subir colecciones)
# ─────────────────────────────────────────
chroma/
vectorstore/
**/.cache/chroma/
**/chroma/
**/vectorstore/



# ─────────────────────────────────────────
#  HUGGINGFACE / SENTENCE TRANSFORMERS CACHE
# ─────────────────────────────────────────
**/.cache/huggingface/
**/.cache/torch/
**/.cache/sentence-transformers/

# ─────────────────────────────────────────
#  PYTHON CACHE
# ─────────────────────────────────────────
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
*.db
*.log

# ─────────────────────────────────────────
#  ARCHIVOS TEMPORALES / BACKUPS
# ─────────────────────────────────────────
*.tmp
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db

# ─────────────────────────────────────────
#  EDITORES (VSCode, PyCharm)
# ─────────────────────────────────────────
.vscode/
.idea/

/hf_models
alembic/
alembic/versions/78e27f59204a_integacion_disponible_en_usuario.py
alembic/versions/76eeda4463e6_correo_en_visitente_anonimo.py
alembic/versions/7112d07b7942_update_unidad_contenido_soft_delete_.py
alembic/versions/4253e8380893_merge_multiple_heads.py
alembic/versions/37206dc3e7ef_agregar_campos_analitica_a_visitante_.py
alembic/versions/7112d07b7942_update_unidad_contenido_soft_delete_.py
alembic/env.py

.expo/
.expo/README.md
.expo/settings.json
alembic/versions/7112d07b7942_update_unidad_contenido_soft_delete_.py
alembic/env.py
