# FastAPI y servidor
fastapi
uvicorn
python-multipart==0.0.6

# Base de datos
SQLAlchemy
pymysql
cryptography==42.0.0

# Validación y configuración
pydantic
pydantic-settings==2.1.0
python-dotenv

# Seguridad y autenticación
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.3.0
bcrypt==4.1.2

# Utilidades
email-validator==2.1.0

# Integración con Ollama
requests



